{% extends 'layout.html' %}

{% block title %}About{% endblock title %}
{% block body %}

    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold ">About</h1>
      <p class="col-md-8 fs-4">&nbsp; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum eum pariatur nisi, incidunt maxime, facere maiores veniam aliquid, neque eaque aperiam quas temporibus commodi accusantium!.</p>
      <p class="col-md-8 fs-4">&nbsp;Dolor sit amet, consectetur adipisicing elit. Dicta similique, ducimus hic voluptatem, assumenda minus nobis culpa illum deleniti sed totam reiciendis aspernatur, ea incidunt suscipit animi explicabo perferendis! Corporis eveniet eos id cupiditate optio maiores earum quisquam labore et debitis voluptatum, dolor a necessitatibus aliquam nulla, repudiandae possimus dolorem?</p>
       </div>

{% endblock body %}