{% extends 'layout.html' %}

{% block title %}Home{% endblock title %}
{% block body %}
<div class="p-5 m-4 bg-light rounded">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold ">Article Zone</h1>
      <p class="col-md-8 fs-4">&nbsp; A very simple and easy to use Article page. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab corrupti distinctio expedita nulla, animi minima sed placeat autem reprehenderit? A eius facilis, exercitationem deleniti ad tenetur reiciendis vel sed illum</p>
      <a class="btn btn-danger btn-lg my-2" href="/articles">Go To Articles</a><br>
      <a class="btn btn-primary btn-lg" href="/register">Register</a>
      <a class="btn btn-success btn-lg" href="/login">Login</a>
    </div>
  </div>
{% endblock body %}